@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

header {
  @include flexCenter(column);
  background: lightblue;
  height: 100vh;
  color: $textColor;
  button {
    background: $primaryBtn;
    &:hover {
      background: red;
    }
    &::before {
      content: "*HEY";
    }
  }
}
