@mixin flexCenter {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include flexCenter();
  background: lightblue;
  height: 100vh;
  color: $textColor;
  button {
    background: $primaryBtn;
    &:hover {
      background: red;
    }
    &::before {
      content: "*HEY";
    }
  }
}
